@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #211922;
  font-size: 12px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul li {
  list-style: none;
}
/*Header*/
header {
  display: flex;
  align-items: center;
  padding: 13px 16px;
}
.header-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 12px;
}
.header-img:hover,
.following-button:hover,
.header-i:hover,
.header-ic:hover {
  background-color: #f2f2f2;
}
header a {
  font-size: 16px;
  color: #211922;
  font-weight: 700;
  padding: 15px 15px;
  margin: 0;
  border-radius: 30px;
}
.index-button {
  color: #ffffff;
  background-color: #211922;
}
.search-container {
  min-width: 135px;
  border-radius: 30px;
  background-color: #EFEFEF;
  height: 40px;
  max-width: 1550px;
  width: 100%;
  padding: 4px 15px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.search-container input {
  outline: none;
  border: none;
  color: #767676;
  font-size: 15px;
  background-color: #EFEFEF;
  height: 30px;
  width: 85%;
  margin: 0 15px;
}
.icons-container{
  display: flex;
  align-items: center;
}
.icon-notifications,
.icon-chat {
  font-size: 32px;
  color: #767676;
}
.header-i {
  padding: 8px;
}
.header-ic {
  padding: 3px;
}
.menu-list {
  display: none;
}
/*Fin del Header*/

/*Sección imágenes*/
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 5px;
    justify-content: center;
    margin: auto;
}

.item {
    border-radius: 5px;
    padding: 10px;
    background: #f2f2f2;
}

.item img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.level-1 {
    grid-row-end: span 3;
}

.level-2 {
    grid-row-end: span 2;
}

.level-3 {
    grid-row-end: span 1;
}
/*Fin Sección Posts*/

/*Media Queries*/
@media only screen and (max-width: 768px) {
  .following-button {
    display: none;
  }
}
/*Fin Media Queries*/